.wrapper {
    width: 400px;
    margin:0 auto;
}

.header {
    height: 100px;
    background-color: #141f40;
}

.left {
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

.content {
    float: right;
    width: 250px;
    height: 250px;
}

.content-top-right {
    float: right;
    width: 150px;
}

.content-top-right-top {
    width: 150px;
    height: 50px;
    background-color: #ff9e6b;
}

.content-top-right-bottom {
    width: 150px;
    height: 100px;
    background-color: #8c2727;
}

.content-top-left {
    float: left;
    width: 100px;
    height: 150px;
    background-color: #fdff6b;
}

.content-top-top {
    width: 250px;
    height: 100px;
    background-color: #0093b7;
}   

.footer {
    height: 100px;
    background-color: #d98d30;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
